@model BloggUppgift.ViewModels.ArchiveBloggViewModel

@{
    var today = DateTime.Now;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" asp-append-version="true" />

<div class="leftcontainer"></div>
<div class="rightcontainer"></div>

<div class="text-center">
    <h1 class="display-4">Fotbolls Blogg</h1>


    <form asp-controller="Home" asp-action="CreateBlogg" method="post">

        <label>Välj Kategori</label>

        @for (var i = 0; i < Model.BloggCategories.Count - 1; i++)
        {
            <label>
                <input asp-for="BloggInfo.CategoryId" type="radio" value=@Model.BloggCategories[i].CategoryId />
                @Model.BloggCategories[i].CategoryDescription
            </label>
        }
        <span asp-validation-for="BloggInfo.CategoryId"></span>

        <br />
        <label>Dagens Datum: @today </label>
        <br />
        <label>Rubrik: <input class="headingInput" maxlength="50" asp-for="BloggInfo.Heading" /></label>
        <span asp-validation-for="BloggInfo.Heading"></span>
        <br />
        <br />
        <textarea rows="15" cols="80" maxlength="2000" asp-for="BloggInfo.BloggInput"></textarea>
        <br />
        <input type="submit" value="Lägg till blogg" />
        <br />
        <span asp-validation-for="BloggInfo.BloggInput"></span>
    </form>

</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

